[run]
source="."

[report]
show_missing = true
omit =
    **/__init__.py
    # ignore __archive__* files
    **/__archive__*
    # ignore tests folder
    tests/**
    # ignore thirdparty imports
    src/*/*/thirdparty/**
    # ignore auto generated models
    src/*/*/models/generated/**
    # ignore __init__ files (only used for exports)
# fail_under = 100 ## NOTE: reinclude this, when testing is added.
precision = 1
exclude_lines =
    pragma: no cover
