pip>=23.1.2
wheel>=0.40.0
setuptools>=67.8.0
typing>=3.7.4.3
pathlib>=1.0.1
importlib>=1.0.4
safetywrap>=1.5.0
argparse>=1.4.0
lazy-load>=0.8.3
pyyaml>=6.0
dataclasses>=0.6
pydantic>=1.10.8
lark>=1.1.5
lark-parser[regex]>=0.12.0
numpy>=1.24.3
lorem>=0.1.1
anyio>=3.7.0
coverage[toml]>=7.2.6
pytest>=7.3.1
pytest-cov>=4.1.0
pytest-lazy-fixture>=0.6.3
pytest-order>=1.1.0
testfixtures>=7.1.0
robotframework>=5.0.1
robotframework-tidy>=4.2.1
robotframework-datadriver>=1.7.0
robotframework-seleniumlibrary>=6.1.0
robotframework-webservice>=0.7.0
datamodel-code-generator>=0.19.0
openapi-generator-cli>=4.3.1
openapi-generator>=1.0.6
